@import '../../styles/mixins';
@import '../../styles/variables';

$logo-sm: 60px;
$padding: 15px;

.header {
    display: grid;
    grid-template-columns: 55px auto 60px;
    @include rem-fallback(padding, 0, $padding);
    background-color: $black-75;
    position: fixed;
    top: 0;
    left: 0;
    @include rem-fallback(height, $logo-sm + $padding * 2);
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    box-shadow: 1px 1px 30px $black;
    z-index: 10;

    @media (min-width: $website-max-width) {
        left: calc(50% - (1900px / 2));
    }

    .header--logo {
        width: 100%;
        display: none;
    }

    .header--logo-sm {
        max-width: 100%;
    }

    .header--logo-holder {
        order: 3;
        align-items: center;
        display: flex;
    }

    @media (min-width: $breakpoint-lg) {
        display: block;
        position: fixed;
        @include rem-fallback(width, 300px);
        height: 100%;
        background-color: transparent;
        padding: 0;
        align-items: start;

        .header--logo-sm,
        .header--menu-btn {
            display: none;
        }

        .header--logo {
            display: block;
        }
    }
}
