<app-error-handler [hasError]="hasError">
    <app-list
        [isInfiniteScroll]="true"
        [hasMore]="hasMore"
        [isFetching]="loading"
        [grid-style]="gridStyle"
        (scrollEvent)="onScroll()"
    >
        <a class="no-decoration" [routerLink]="comic.linkToDetails" *ngFor="let comic of comics">
            <app-card
                [image-src]="comic.image.portrait.actual"
                [placeholder-image-src]="comic.image.portrait.placeholder"
                [title]="comic.title"
            ></app-card>
        </a>
    </app-list>
</app-error-handler>
