<app-list-view
    [loading]="(state | async) && (state | async).ui.fetching"
    [hasError]="false"
    [spacedItems]="spacedItems"
    [isInfiniteScroll]="infinityScroll"
    [hasMore]="(state | async) && (state | async).pagination.data.hasMore"
    (scrolled)="onScroll()"
>
    <a class="no-decoration" [routerLink]="item.linkToDetails" *ngFor="let item of list | async">
        <app-card
            [image-src]="item.image[imageType].actual"
            [placeholder-image-src]="item.image[imageType].placeholder"
            [title]="item.title"
            [animated-card]="isAnimated"
            [floating-label]="isFloatingLabel"
        ></app-card>
    </a>
</app-list-view>

<app-pagination
    *ngIf="withPagination && showPagination"
    (hideEvent)="showPagination = false"
    [total]="(state | async) ? (state | async).pagination.data.total : 0"
    [current]="
        (state | async) && (state | async).pagination.data.offset > -1
            ? (state | async).pagination.data.offset + (state | async).pagination.data.count
            : 0
    "
></app-pagination>
