<app-list
    [isInfiniteScroll]="true"
    [hasMore]="hasMore"
    [isFetching]="loading"
    [grid-style]="gridStyle"
    (onScroll)="onScroll()"
>
    <a class="no-decoration" [routerLink]="series.linkToDetails" *ngFor="let series of seriesList | async">
        <app-card
            [image-src]="series.image"
            [placeholder-image-src]="series.placeholder"
            [title]="series.title"
            [animated-card]="false"
            [floating-label]="false"
        ></app-card>
    </a>
</app-list>
