<div
    class="grid"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    [infiniteScrollDisabled]="!hasMore"
    [fromRoot]="true"
    infiniteScrollContainer=".layout-main"
>
    <a class="grid--txt-decoration" [routerLink]="['/series', series.id]" *ngFor="let series of seriesList | async">
        <app-card
            [image-src]="getImage(series.thumbnail)"
            [placeholder-image-src]="getImage(series.thumbnail, true)"
            [title]="series.title"
            [animated-card]="false"
            [floating-label]="false"
        ></app-card>
    </a>
</div>

<app-loader *ngIf="loading"></app-loader>
