<app-error-handler [hasError]="hasError">
    <app-list
        [isInfiniteScroll]="true"
        [hasMore]="hasMore"
        [isFetching]="loading"
        [grid-style]="gridStyle"
        (scrollEvent)="onScroll()"
    >
        <a class="no-decoration" [routerLink]="series.linkToDetails" *ngFor="let series of seriesList">
            <app-card
                [title]="series.title"
                [image-src]="series.image.portrait.actual"
                [placeholder-image-src]="series.image.portrait.placeholder"
                [animated-card]="false"
                [floating-label]="false"
            ></app-card>
        </a>
    </app-list>
</app-error-handler>
