<app-list-view-details [item]="data" [hasError]="hasError" [loading]="loading" [isBgImage]="false">
    <mat-tab-group [dynamicHeight]="true" animationDuration="0ms">
        <mat-tab label="Series">
            <ng-template matTabContent>
                <app-series [filter]="seriesFilter"></app-series>
            </ng-template>
        </mat-tab>
        <mat-tab label="Characters">
            <ng-template matTabContent>
                <app-comics [filter]="charactersFilter"></app-comics>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</app-list-view-details>

<!-- (selectedTabChange)="onTabChange($event)" [selectedIndex]="activeTab" -->
