<div class="container">
    <div class="container-grid--main" *ngIf="series; else loader">
        <img
            class="container-grid-image"
            [alt]="series.description"
            [appProgressiveImageLoading]="getImage(series.thumbnail)"
            [appProgressiveImageLoading-placeholder]="getImage(series.thumbnail, true)"
        />
        <h1 class="container-grid--title">{{ series.title }}</h1>
        <div class="container-grid--description">
            {{ series.description ? series.description : 'No description available.' }}
        </div>
    </div>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
