@import '../../shared//styles/variables';
@import '../../shared//styles/mixins';

.container {
    @include rem-fallback(padding, 0, 15px);
    background-color: $black-75;
    height: 100%;

    .container-grid--main {
        display: grid;
    }

    .container-grid--title {
        @include rem-fallback(margin, 20px, 0);
        @include rem-fallback(font-size, 35px);

        @media (min-width: $breakpoint-lg) {
            @include rem-fallback(font-size, 50px);
        }
    }

    .container-grid--description {
        @include rem-fallback(font-size, 18px);
        display: flex;
        align-items: center;
        text-align: justify;

        @media (min-width: $breakpoint-lg) {
            @include rem-fallback(font-size, 20px);
        }
    }

    .container-grid--title,
    .container-grid--description {
        color: $offWhite;
    }
}
