<app-list-details [item]="character" [withBgImage]="true" [loading]="loading" [hasError]="hasError">
    <div class="tab--spacer">
        <mat-tab-group>
            <mat-tab label="Comics">
                <ng-template matTabContent>
                    <app-list-view type="comics" [filter]="filter"></app-list-view>
                </ng-template>
            </mat-tab>
            <mat-tab label="Series">
                <ng-template matTabContent>
                    <app-list-view type="series" [filter]="filter"></app-list-view>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</app-list-details>
