<app-no-data *ngIf="!loading && collection.length === 0">No data available.</app-no-data>

<app-error-handler [hasError]="hasError">
    <ng-container [ngSwitch]="isInfiniteScroll">
        <div
            *ngSwitchCase="true"
            [class]="gridStyle"
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            [infiniteScrollDisabled]="!hasMore"
            (scrolled)="onScroll()"
        >
            <ng-container *ngTemplateOutlet="list"></ng-container>
        </div>
        <div *ngSwitchCase="false" [class]="gridStyle">
            <ng-container *ngTemplateOutlet="list"></ng-container>
        </div>
    </ng-container>
</app-error-handler>

<ng-template #list>
    <a class="no-decoration" [routerLink]="item.linkToDetails" *ngFor="let item of collection">
        <app-card
            [image-src]="item.image[imageType].actual"
            [placeholder-image-src]="item.image[imageType].placeholder"
            [title]="item.title"
            [animated-card]="isAnimated"
            [floating-label]="isFloatingLabel"
        ></app-card>
    </a>
</ng-template>

<app-loader *ngIf="loading"></app-loader>

<app-page-info
    *ngIf="pagination"
    [showCondition]="showPagination"
    [total]="pagination.total"
    [current]="pagination.offset === -1 ? 0 : pagination.offset + pagination.count"
    hideAfter="5000"
    (hideEvent)="showPagination = false"
></app-page-info>
