@import '../../../styles/mixins';
@import '../../../styles/variables';

.no-decoration {
    text-decoration: none;
}

@mixin column-template($width, $height) {
    grid-template-columns: repeat(auto-fill, minmax($width, 1fr));
    grid-auto-rows: minmax($height, auto);
}

.grid {
    display: grid;
    @include column-template(160px, 160px);

    @media (min-width: $breakpoint-sm) {
        @include column-template(200px, 200px);
    }

    @media (min-width: $breakpoint-md) {
        @include column-template(250px, 250px);
    }

    @media (min-width: $breakpoint-lg) {
        @include column-template(300px, 300px);
    }

    .grid--txt-decoration {
        text-decoration: none !important;
    }
}

.grid-spaced {
    display: grid;
    @include column-template(100px, 200px);
    @include rem-fallback(grid-gap, 10px);

    @media (min-width: $breakpoint-md) {
        @include column-template(140px, 250px);
        @include rem-fallback(grid-gap, 20px);
    }

    @media (min-width: $breakpoint-lg) {
        @include column-template(160px, 300px);
    }

    .grid--txt-decoration {
        text-decoration: none !important;
    }
}

.list-view--pill {
    position: fixed;
    bottom: 20px;
    right: 50%;
    transform: translateX(50%);

    @media (min-width: $breakpoint-lg) {
        right: 20px;
        transform: translateX(0%);
    }
}
