<div class="sidebar-toggle--btn" [ngClass]="{ active: toggleMenu }" (click)="onToggleMenu()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
</div>

<div class="sidebar sidebar--mobile" [ngClass]="{ active: toggleMenu }" (click)="onToggleMenu()">
    <ng-container *ngTemplateOutlet="links"></ng-container>
</div>

<div class="sidebar sidebar-desktop">
    <ng-container *ngTemplateOutlet="links"></ng-container>
</div>

<ng-template #links>
    <app-nav-link link="/characters">Characters</app-nav-link>
    <app-nav-link link="/comics">Comics</app-nav-link>
    <app-nav-link link="/series">Series</app-nav-link>
</ng-template>

<div class="overlay" [ngClass]="{ active: toggleMenu }" (click)="onToggleMenu()"></div>
