<div [class]="isBgImage ? 'container--with-bg' : 'container'">
    <app-error-handler [hasError]="hasError" message="No description available" type="error-text-only">
        <ng-container *ngIf="!loading; else loader">
            <div class="container-grid--main" *ngIf="collection">
                <img
                    *ngIf="!isBgImage"
                    class="container-grid-image"
                    [alt]="collection.description"
                    [appProgressiveImageLoading]="collection.image"
                    [appProgressiveImageLoading-placeholder]="collection.placeholder"
                />
                <h1 class="container-grid--title">{{ collection.title }}</h1>

                <div class="container-grid--description">
                    <app-no-data *ngIf="!collection.description; else desc">No description available.</app-no-data>
                    <ng-template #desc>
                        {{ collection.description }}
                    </ng-template>
                </div>
            </div>
        </ng-container>
    </app-error-handler>

    <div class="tab--spacer" *ngIf="tabs && tabs.length > 0">
        <mat-tab-group
            [dynamicHeight]="true"
            animationDuration="0ms"
            (selectedTabChange)="onTabChange($event)"
            [selectedIndex]="activeTab"
        >
            <mat-tab *ngFor="let tab of tabs" [label]="tab.title">
                <ng-template matTabContent>
                    <app-list-view [type]="tab.type" [filter]="filter"></app-list-view>
                </ng-template>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
