<form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="search-box">
        <label for="search" style="display: none">Search</label>
        <input class="search-box--input" type="text" placeholder="Search" formControlName="search" name="search" />
        <span class="search-box--line"></span>
        <button class="search-box--btn">
            <mat-icon class="search-box--icon" aria-hidden="false" aria-label="search icon">search</mat-icon>
        </button>
    </div>
</form>
