@import './shared/styles/variables';
@import './shared/styles/mixins';

.layout {
    height: 100%;
    padding-top: 90px;

    @media (min-width: $breakpoint-lg) {
        padding-top: 0;
        padding-left: 300px;
    }

    .layout-main {
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
