<div [class]="withBgImage ? 'container--with-bg' : 'container'">
    <ng-container *ngIf="!loading; else loader">
        <div class="container-grid--main" *ngIf="item">
            <img
                *ngIf="!withBgImage"
                class="container-grid-image"
                [alt]="item.description"
                [appProgressiveImageLoading]="item.image"
                [appProgressiveImageLoading-placeholder]="item.placeholder"
            />
            <h1 class="container-grid--title">{{ item.title }}</h1>
            <div class="container-grid--description">
                {{ item.description ? item.description : 'No description available.' }}
            </div>
        </div>
    </ng-container>

    <ng-content></ng-content>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
