<div [class]="isBgImage ? 'container--with-bg' : 'container'">
    <app-error-handler [hasError]="hasError" message="No description available" type="error-text-only">
        <ng-container *ngIf="!loading; else loader">
            <div class="container-grid--main" *ngIf="item">
                <img
                    *ngIf="!isBgImage"
                    class="container-grid-image"
                    [alt]="item.description"
                    [appProgressiveImageLoading]="item.image"
                    [appProgressiveImageLoading-placeholder]="item.placeholder"
                />
                <h1 class="container-grid--title">{{ item.title }}</h1>

                <div class="container-grid--description">
                    <app-no-data *ngIf="!item.description; else desc">No description available.</app-no-data>
                    <ng-template #desc>
                        {{ item.description }}
                    </ng-template>
                </div>
            </div>
        </ng-container>
    </app-error-handler>

    <div class="tab--spacer">
        <ng-content></ng-content>
    </div>
</div>

<ng-template #loader>
    <app-loader></app-loader>
</ng-template>
