<div
    class="grid"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    [infiniteScrollDisabled]="!hasMore"
>
    <a [routerLink]="['/character', character.id]" *ngFor="let character of characters | async">
        <app-card
            [image-src]="character.thumbnail.path + '/standard_fantastic.' + character.thumbnail.extension"
            [placeholder-image-src]="character.thumbnail.path + '/landscape_small.' + character.thumbnail.extension"
            [title]="character.name"
            [animated-card]="true"
            [floating-label]="true"
        ></app-card>
    </a>
</div>

<app-loader *ngIf="loading"></app-loader>
