@import './app/shared/styles/variables';
@import './app/shared/styles/mixins';
@import url('https://fonts.googleapis.com/css?family=Teko');

html {
    font-size: $base_font;
    height: 100%;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Teko', sans-serif;
    padding: 0;
    margin: 0;
    background: $black;
    background: -moz-linear-gradient(top, $body-gradient 0%, $black 100%);
    background: -webkit-linear-gradient(top, $body-gradient 0%, $black 100%);
    background: linear-gradient(to bottom, $body-gradient 0%, $black 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    @media (min-width: $website-max-width) {
        width: calc($website-max-width - 20px);
        margin: auto;
    }
}

.blur {
    filter: blur(5px);
}

.default-loader {
    top: 50% !important;
    left: 50% !important;
    height: 50px !important;
    width: 50px !important;
    position: absolute !important;
    transform: translate(-50%, -50%) !important;
}

.img-fluid {
    max-width: 100%;
}

.mat-tab-group {
    font-family: 'Teko', sans-serif;

    .mat-tab-label {
        color: $white;
        @include rem-fallback(font-size, 30px);
        font-family: 'Teko', sans-serif;
    }

    .mat-tab-body-wrapper {
        @include rem-fallback(margin-top, 20px);
    }
}
