<ng-container [ngSwitch]="isInfiniteScroll">
    <div
        *ngSwitchCase="true"
        [class]="gridStyle"
        infiniteScroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="50"
        [infiniteScrollDisabled]="!hasMore"
        (scrolled)="onScrolling()"
    >
        <ng-container *ngTemplateOutlet="list"></ng-container>
    </div>
    <div *ngSwitchCase="false" [class]="gridStyle">
        <ng-container *ngTemplateOutlet="list"></ng-container>
    </div>
</ng-container>

<ng-template #list>
    <ng-content></ng-content>
</ng-template>

<app-loader *ngIf="loading"></app-loader>
